{{ define "posts/single.tmpl" }}
<!DOCTYPE html>
<html lang="en">
	{{ template "partial/head.tmpl" . }}
	<body>
	{{ template "partial/header.tmpl" . }}
	<main>

	<h2>Scrobble of {{.post.MediaItem.DisplayName.String}} on {{.CreatedAt.Format "02/01/2006" }}</h2>

    {{ template "partial/postbody.tmpl" . }}

	</main>
	{{ template "footer.tmpl" . }}
	</body>
</html>
{{end}}