{{ define "posts/single.tmpl" }}
<!DOCTYPE html>
<html lang="en">
	{{ template "partial/head.tmpl" . }}
	<body>
	{{ template "partial/header.tmpl" . }}
	<main>

	<h2>Scrobble of {{.post.MediaItem.DisplayName.String}}</h2>

    {{ if .post.URL }}

	<h4>Canonical URL</h4>

    <a href="{{.post.URL}}" target="_blank">{{.post.URL}}</a> <br/>

    {{end}}

    {{ template "partial/postbody.tmpl" . }}

	</main>
	{{ template "footer.tmpl" . }}
	</body>
</html>
{{end}}