{{ define "faq.tmpl" }}
<!DOCTYPE html>
<html lang="en">
	{{ template "partial/head.tmpl" . }}
	<body>
	{{ template "partial/header.tmpl" . }}
	<main>

	<h2>Contents</h2>

	<ul>
		<li><a href="#what-is-indiescrobble">What is IndieScrobble?</a></li>
		<li><a id="#how-sign-up">How do I sign up for IndieScrobble?</a></li>
		<li><a href="#copyright-infringement">Is it copyright infringement to display movie/tv posters, book covers, album covers on my website?</a>
	</ul>

	<hr/>

	<h3><a id="what-is-indiescrobble"></a>What is IndieScrobble?</h3>
	<p>
	IndieScrobble is a tool for <a href="https://indieweb.org/POSSE">POSSEing</a> about your consumption of media via <a href="https://indieweb.org/Micropub">micropub</a> and 
	also backfeeding (<a href="https://indieweb.org/PESOS">PESOSing</a>) content from silos like <a href="https://letterboxd.com/">Letterboxd</a>, 
	<a href="https://trakt.tv/">Trakt</a> and <a href="https://www.last.fm/">Last.FM</a> to your personal website.  It's a tool that can help you 
	to take ownership control of your media reviews and watch history away from third party siloed services.
	</p>


	<h3><a id="how-sign-up"></a>How do I sign up for IndieScrobble?</h3>
	<p>
	IndieScrobble is a tool for <a href="https://indieweb.org/POSSE">POSSEing</a> about your consumption of media via <a href="https://indieweb.org/Micropub">micropub</a> and 
	also backfeeding (<a href="https://indieweb.org/PESOS">PESOSing</a>) content from silos like <a href="https://letterboxd.com/">Letterboxd</a>, 
	<a href="https://trakt.tv/">Trakt</a> and <a href="https://www.last.fm/">Last.FM</a> to your personal website.  It's a tool that can help you 
	to take ownership control of your media reviews and watch history away from third party siloed services.
	</p>


    <h3><a id="copyright-infringement"></a>Is it copyright infringement to display movie/tv posters, book covers, album covers on my website?</h3>
    <p>I am not a lawyer however, it is my understanding that review is an example of "fair usage" of related promotional material 
    as per <a href="https://splc.org/2019/03/ask-splc-can-we-use-an-image-found-online-to-illustrate-a-movie-review/">this legal thread</a></p>

	</main>
	{{ template "partial/footer.tmpl" . }}
	</body>
</html>
{{end}}

