{{ define "scrobble/begin.tmpl" }}
<!DOCTYPE html>
<html lang="en">
	{{ template "partial/head.tmpl" . }}
	<body>
	{{ template "partial/header.tmpl" . }}
	<main>

	{{ if .user }}
	
	<h2>Add A Scrobble</h2>

	I want to add a:
	<form method="GET" action="/scrobble">
    {{range $type, $label := .scrobbleTypes }}
    <label><input type="radio" name="type" value="{{ $type }}"/>{{$label}}</label><br/>
    {{end}}

	<button type="submit">Next &gt;&gt;</button>

		<p><i>🎧 Listen, 📺 TV Show and 📖 Read are coming soon</i></p>

	</form>

	{{else}}
		<p>Welcome to indiescrobble! IndieScrobble is a <a href="https://micropub.spec.indieweb.org/">MicroPub</a> compliant tool
	for posting about your watches, reads and scrobbles directly back to your site.</p>

	<form action="/indieauth" method="POST">
	<p>
		<label>Your domain: </label>
		<input type="text" name="domain"/>
		<button type="submit">Log in</button>
	</p>
	</form>
	{{ end }}
	</main>
	{{ template "footer.tmpl" . }}
	</body>
</html>
{{end}}