{{ define "scrobble/done.tmpl" }}
<!DOCTYPE html>
<html lang="en">
	{{ template "partial/head.tmpl" . }}
	<body>
	{{ template "partial/header.tmpl" . }}
	<main>

	{{ $scrobbleType := .scrobbleType }}


    <p><a href="/">Add A Post</a> &gt; <a href="/scrobble?type={{ .scrobbleType }}">Add {{ .scrobbleTypeName }}</a> &gt; {{.post.MediaItem.DisplayName.String}}</p>

    <h3>Post Complete: <a href="{{.post.URL}}">{{.post.URL}}</a></h3>

	</main>
    {{ template "partial/footer.tmpl" . }}
	</body>
</html>
{{end}}