{{ define "scrobble/preview.tmpl" }}
<!DOCTYPE html>
<html lang="en">
	{{ template "partial/head.tmpl" . }}
	<body>
	{{ template "partial/header.tmpl" . }}
	<main>

	{{ $scrobbleType := .scrobbleType }}


    <form method="POST" action="/scrobble/do">

    <p><a href="/">Add A Post</a> &gt; <a href="/scrobble?type={{ .scrobbleType }}">Add {{ .scrobbleTypeName }}</a> &gt; {{.post.MediaItem.DisplayName.String}}</p>

    <h3>Preview Post: {{.post.MediaItem.DisplayName.String}}</h3>

    <h4>Summary</h4>
    <p>{{.summary}}</p>

    <h4>Thumbnail</h4>
    <div class="float-left">

        {{if .post.MediaItem.ThumbnailURL.Valid}}
            <img class="thumbnail" src="{{.post.MediaItem.ThumbnailURL.String}}"/>
        {{end}}

            
    </div>

    <div>
    <h4>Post Details</h4>
    <label>When: <b>{{.post.ScrobbledAt.Time}}</b></label> <input type="hidden" name="when" value="{{.when}}" /><br/>

    {{ if .rating }}

    <label>Rating: (out of 5)</label> <b>{{.post.Rating.String}}</b> <input type="hidden" name="rating" value="{{.rating}}"/> <br/>

    {{end}}

    {{if .post.Content.Valid }}
        <label>Note/Content: </label> <br>
        <blockquote>{{.post.Content.String}}</blockquote>
        <input type="hidden" name="content" value="{{.post.Content.String}}"/>
    {{end}}

    <h4>Sharing Options</h4>
    <p>Your post <b>{{if .post.SharePost}}will{{else}}will not{{end}}</b> be added to the IndieScrobble statistics and site directory.</p>

    
    {{if .config.SyndicateTargets}}
        <h4>Syndication Options</h4>
        Coming Soon!
        <!--
        {{ range $target := .config.SyndicateTargets}}
        <label><input type="checkbox" name="mp-syndicate[]" value="{{$target.Uid}}" /> {{$target.Name}}</label><br />
        {{end}}
        -->
    {{end}}
    

    <br/>


    <h4>Micropub Payload Details</h4>

    <p>Your post <b>{{if .post.WithWatchOf}}will{{else}}will not{{end}}</b> contain <code>watch-of</code> properties</p>

    

    <details>
    <summary>JSON Payload</summary>
    <pre>{{.postBody}}</pre>
    </details>

        
    <button type="submit">Submit Post &gt; &gt;</button>
    

    </div>
    <input type="hidden" name="item" value="{{.post.MediaItem.MediaID}}"/>
    <input type="hidden" name="type" value="{{ .scrobbleType }}"/>

    </form>




	</main>
    {{ template "partial/footer.tmpl" . }}
	</body>
</html>
{{end}}