<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" href="/static/css/simple-v1.css" />
	</head>
	<body>
	<header>
	<h1>
		IndieScrobble
	</h1>
	</header>
	<main>
		<p>{{ .message }}</p>
	</main>
	</body>
</html>