<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" href="/static/css/simple-v1.css" />
	</head>
	<body>
	{{ template "header.tmpl" . }}
	<main>
		<p>Welcome to indiescrobble! IndieScrobble is a <a href="https://micropub.spec.indieweb.org/">MicroPub</a> compliant tool
	for posting about your watches, reads and scrobbles directly back to your site.</p>
	</main>
	</body>
</html>