<!DOCTYPE html>
<html lang="en">
	{{ template "head.tmpl" . }}
	<body>
	{{ template "header.tmpl" . }}
	<main>
		<p>Welcome to indiescrobble! IndieScrobble is a <a href="https://micropub.spec.indieweb.org/">MicroPub</a> compliant tool
	for posting about your watches, reads and scrobbles directly back to your site.</p>

	{{ if index . "user" }}
	{{else}}
	<form action="/indieauth" method="POST">
	<p>
		<label>Your domain: </label>
		<input type="text" name="domain"/>
		<button type="submit">Log in</button>
	</p>
	</form>
	{{ end }}
	</main>
	</body>
</html>