{{ define "partial/footer.tmpl" }}
<footer>
IndieScrobble is a FLOSS service provided by <a href="https://brainsteam.co.uk">James Ravenscroft</a>. It is licensed under AGPL-3.0. Styled with <a href="https://simplecss.org/">Simple.CSS</a>
</footer>
{{end}}